<section class="workout">
  <p class="workout__timer"><app-workout-timer></app-workout-timer></p>
  <h2 class="workout__heading">{{ workout.routine?.name }}</h2>
  <h3 class="workout__sub-heading">Select Exercise</h3>
  <ul class="workout__list">
    <li class="workout__list-item" *ngFor="let exercise of workout.routine?.exercises">
      <a [routerLink]="['/workout', workout.id, exercise.id]" class="btn workout__list-link"><i class="fa-solid fa-dumbbell workout__icon" aria-label="icon of a dumbbell"></i> {{ exercise.exercise.name }}</a>
    </li>
  </ul>
  <button class="btn workout__finish" (click)="open()">Finish Workout</button>
  <div *ngIf="isOpen" class="modal">
    <div class="modal__content">
      <h5 class="modal__header">Finished Working Out?</h5>
      <p class="modal__text">Are you sure you want to finish your workout?</p>
      <div class="modal__btn-containers">
        <button class="modal__btn modal__btn--cancel" (click)="close()">Cancel</button>
        <button class="modal__btn modal__btn--confirm" (click)="finishWorkout()">Confirm</button>
      </div>
    </div>
  </div>
</section>
