.header {
    max-height: 12vh;
    min-height: 12vh;
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.6rem;
    border-bottom: 2px solid;
}

.header__text {
    display: inline-block;
    letter-spacing: 8px;
    text-indent: 8px;
    font-weight: 400;
}

.header__icon {
    font-size: 2.4rem;
    transform: rotate(-30deg);
}
