<footer class="footer">
    <nav class="footer__nav">
        <ul class="footer__list">
            <li class="footer__list--item"><a href="#" class="footer__list--link"><i class="fa-solid fa-chart-simple"></i></a></li>
            <li class="footer__list--item"><a href="#" class="footer__list--link"><i class="fa-solid fa-house"></i></a></li>
            <li class="footer__list--item"><a href="#" class="footer__list--link"><i class="fa-solid fa-user"></i></a></li>
        </ul>
    </nav>
</footer>
