.footer {
    height: 13vh;
    max-height: 13vh;
    min-height: 13vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid white;
}

.footer__nav {
    flex-basis: 100%;
    
}

.footer__list {
    display: flex;
    flex-wrap: nowrap;
    list-style-type: none;
    
}



.footer__list--item {
    flex-basis: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__list--item:not(:last-child) {
    border-right: 1px solid;
}

.footer__list--link{
    font-size: 2.5rem;
}

