<section *ngIf="isOpen" class="modal">
  <div class="modal__container">
    <div class="modal__header">
      <h4 class="modal__header--text">
        Edit Password
      </h4>
    </div>
    <div class="modal__content">
      <form class="modal__form" [formGroup]="editPasswordForm">
        <div class="modal__form--group">
          <label for="currentPassword">Current Password</label>
          <input
            type="password"
            name="currentPassword"
            id="currentPassword"
            formControlName="currentPassword"
            placeholder="Current password"
          >
        </div>
        <div class="modal__form--group">
          <label for="newPassword">New Password</label>
          <input
            type="password"
            name="newPassword"
            formControlName="password"
            placeholder="New password"
          >
        </div>
        <div class="modal__form--group">
          <label for="confirmPassword">Confirm Password</label>
          <input
            type="password"
            name="confirmPassword"
            formControlName="confirmPassword"
            placeholder="Confirm password"
          >
        </div>

      </form>
    </div>
    <div class="modal__buttons">
      <button class="modal__buttons--btn modal__buttons--close" (click)="closeOverlay()">Cancel</button>
      <button class="modal__buttons--btn modal__buttons--submit" (click)="onSubmit()">Submit</button>
    </div>
  </div>
</section>
