<section class="editPassword">
  <p class="passWordText">Please enter your updated password</p>
  <form class="editPasswordForm" [formGroup]="editPasswordForm">
    <input class="editEmailInput" type="text" name="password" formControlName="password" value="">
    <p class="confirmPasswordText">Please confirm your updated password</p>
    <input class="confirmPasswordInput" type="text" name="confirmPassword">
    <button class="editPasswordSubmit" (click)="onSubmit()" name="submit" value="Submit">Submit</button>
    <button class="passwordCancel" (click)="closeOverlay()">Cancel</button>
  </form>
</section>
