<section class="set">
  <div class="set__timer">
    <a [routerLink]="['/workout', workout.id]" class="set__timer--link"><i class="fa-solid fa-chevron-left"></i> Back</a>
    <p class="set__timer--text"><strong>Total Time: </strong><app-workout-timer></app-workout-timer></p>
  </div>
  <div class="set__header">
    <h2 class="set__header--heading">{{ name }}</h2>
    <h3 class="set__header--sub-heading">{{ weight }}</h3>
  </div>
  <div class="set__grid">
    <div *ngFor="let set of sets" class="set__container">
      <h5 class="set__container--header">{{ quantity }}</h5>
      <div class="set__checkbox">&nbsp;</div>
      <p class="set__continer--timer">00:00</p>
    </div>
  </div>
  <div role="button" class="set__cta">
    <p class="set__cta--text">Start</p>
  </div>
</section>
