.mb-xs {
    margin-bottom: $xs;
}

.mb-sm {
    margin-bottom: $sm;
}

.mb-smmd {
    margin-bottom: $smmd;
}

.mb-md {
    margin-bottom: $md;
}

.mb-mdlg {
    margin-bottom: $mdlg;
}

.mb-lg {
    margin-bottom: $lg;
}

.mb-xl {
    margin-bottom: $xl;
}