.login {
    height: 88vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

}

.login > * {
    margin-bottom: 1.6rem;
}
.login__header, .login__text {
    text-align: center;
}

.login__redirect {
    font-size: 1.2rem;
    text-align: center;
}
