<section class="login">
    <h2 class="login__header">Hello, again</h2>
    <p class="login__text">Please enter your <br /> credentials to log in.</p>
    <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form__group">
            <input class="form__input" id="email" type="email" placeholder="Email" formControlName="email" aria-label="Enter your email" required/>
        </div>
        <div class="form__group">
            <input class="form__input" type="password" placeholder="Password" formControlName="password" aria-label="Enter your password" required/>
        </div>
        <button class="form__button">Log In</button>
    </form>
    <div *ngIf="submitted && errorMessage" class="error" aria-live="assertive"> 
        <p class="error__message">{{ errorMessage }}</p> 
    </div>
    <p class="login__redirect">Don't have an account yet? <br /> <a routerLink="/signup" aria-label="Go to sign up page">Create an account</a></p>
</section>
