<section *ngIf="isOpen" class="modal">
  <div class="modal__container">
    <div class="modal__header">
      <h4 class="modal__header--text">
        Edit Name
      </h4>
    </div>
    <div class="modal__content">
      <form class="modal__form" [formGroup]="editNameForm">
        <div class="modal__form--group">
          <label for="newName">New Name</label>
          <input
            type="text"
            name="newName"
            id="newName"
            formControlName="name"
            placeholder="New name"
          >
        </div>
        <div class="modal__form--group">
          <label for="confirmName">Confirm Name</label>
          <input
            type="text"
            name="confirmName"
            id="confirmName"
            formControlName="confirmName"
            placeholder="Confirm Name"
          >
        </div>

      </form>
    </div>
    <div class="modal__buttons">
      <button class="modal__buttons--btn modal__buttons--close" (click)="closeOverlay()">Cancel</button>
      <button class="modal__buttons--btn modal__buttons--submit" (click)="onSubmit()">Submit</button>
    </div>
  </div>
</section>

