@use '@angular/material' as mat;
@import '../../scss/custom-theme.scss';
@import '../../scss/abstracts/variables';
@import '../../scss/abstracts/mixins';

.modal {
  position: absolute;
  top: 0;
  left: 0;
  height: 75vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1px);
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    background-color: mat.get-color-from-palette($iron-track-dark-primary, 'default');
    border-radius: 8px;
    border: 1px solid mat.get-color-from-palette($iron-track-accent, 'default');
  }

  &__header {
    padding: $sm 0;
    border-bottom: 1px solid mat.get-color-from-palette($iron-track-accent, 'default');
  }

  &__content {
    padding: $lg;
    text-align: left;
  }

  &__form {
    &--group {
      &:not(:last-child) {
        margin-bottom: $md;
      }

      & label {
        padding-left: $sm;
      }

      & input {
        width: 100%;
        padding: $sm $sm;
        border-radius: 5px;
        border-width: 1px;
        border-style: solid;
        border-color: mat.get-color-from-palette($iron-track-dark-primary, 'default');
      }


    }
  }

  &__buttons {
    padding: $md $lg;
    border-top: 1px solid mat.get-color-from-palette($iron-track-accent, 'default');
    display: flex;
    justify-content: end;

    &--btn {
      padding: $xs $sm;
      border-radius: 3px;
      border-width: 1px;
      border-style: solid;
      cursor: pointer;
      &:not(:last-child) {
        margin-right: $sm;
      }
    }

    &--close {
      border-color: mat.get-color-from-palette($iron-track-accent, 'default');
      background-color: transparent;
      color: mat.get-color-from-palette($iron-track-accent, 'default');
    }
    &--submit {
      border-color: mat.get-color-from-palette($iron-track-accent, 'default');
      background-color: mat.get-color-from-palette($iron-track-accent, 'default');
      color: mat.get-color-from-palette($iron-track-dark-primary, 'default');
    }
  }
}
