@use "@angular/material" as mat;
@import '../../scss/abstracts/variables';
@import '../../scss/abstracts/mixins';
@import '../../scss//custom-theme.scss';

.routine {
  height: 75vh;
  overflow-y: auto;
  padding-top: $xl;
  padding-bottom: $xl;
  text-transform: uppercase;
  position: relative;

  &__container {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
  }

  &__heading {
    letter-spacing: 3px;
    text-indent: 3px;
    font-weight: 200;
    margin-bottom: $xl;

  }
}

.exercise {

  &__container {
    margin-bottom: $lg;
    &:last-of-type {
      margin-bottom: $xl;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid mat.get-color-from-palette($iron-track-accent, 'default');
    padding: $sm $md;
    padding-left: 0;

    &--content {
      display: flex;
      align-items: center;
      max-width: 90%;
      overflow-x: auto;
    }

    &--name {
      white-space: nowrap;

      &-icon {
        margin-right: $md;
        font-size: 2rem;
        cursor: pointer;
      }
    }

    &--icon {
      transition: transform 0.2s ease;
      cursor: pointer;
    }
  }

  &__content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease;

  }
  &__table {
    width: 100%;
    border: 1px solid mat.get-color-from-palette($iron-track-accent, 'default');
    border-top: none;
    border-collapse: collapse;
    letter-spacing: 1px;
    text-indent: 1px;
    transform-origin: top;


    &--head-data {
      padding: $sm 0;
    }

    &--body {
      background-color: mat.get-color-from-palette($iron-track-accent, 'default');
      color: mat.get-color-from-palette($iron-track-dark-primary, 'default');
      &-data {
        padding: $sm 0;
      }
    }
  }
}

.rotate {
  transform: rotate(-180deg);
}

.exercise-modal {
  position: absolute;
  top: 0;
  left: 0;
  height: 75vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: none;

  &__container {
    background-color: mat.get-color-from-palette($iron-track-dark-primary, 'default');
    height: 65vh;
    width: 90%;
    border: 1px solid mat.get-color-from-palette($iron-track-accent, 'default');
    border-radius: 8px;
    display: flex;
    flex-flow: column nowrap;

    @include respond(tab-port) {
      width: 65%;
    }

    @include respond(tab-land) {
      width: 40%;
    }

    @include respond(laptop) {
      width: 30%;
    }
  }

  &__title {
    padding: $md;
    border-bottom: 1px solid mat.get-color-from-palette($iron-track-accent, 'default');
    position: relative;
  }

  &__blur {
    background-image: linear-gradient(to bottom, rgba(mat.get-color-from-palette($iron-track-dark-primary, 'default'), 1), rgba(0, 0, 0, 0));
    height: $md;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(calc(100% + 1px));

    &--reverse {
      background-image: linear-gradient(to top, rgba(mat.get-color-from-palette($iron-track-dark-primary, 'default'), 1), rgba(0, 0, 0, 0));
      height: $lg;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      transform: translateY(calc(-100% - 1px));
    }
  }

  &__content {
    text-align: left;
    overflow-y: auto;

    &--text {
      padding: $md;
    }

    &--group:not(:last-child) {
      padding-bottom: $smmd;
    }
  }

  &__btn-container {
    border-top: 1px solid mat.get-color-from-palette($iron-track-accent, 'default');
    padding: $md $lg;
    display: flex;
    justify-content: flex-end;
    position: relative;
  }

  &__btn {
    padding: $xs $smmd;
    background-color: mat.get-color-from-palette($iron-track-dark-primary, 'default-contrast');
    border: 1px solid mat.get-color-from-palette($iron-track-dark-primary, 'default-contrast');
    border-radius: 3px;
  }
}

.expand {
  max-height: 10rem;
}
.btn__ghost {
    border: 1px solid mat.get-color-from-palette($iron-track-dark-primary, 'default-contrast');
    color: mat.get-color-from-palette($iron-track-dark-primary, 'default-contrast');
    margin-bottom: $md;
    border-radius: 8px;
}
.btn__fill {
    color: mat.get-color-from-palette($iron-track-dark-primary, 'default-contrast');
    background-color: #008000;
    border: 1px solid #008000;
    border-radius: 8px;
}
