<section class="routine">
    <div class="routine__container">
        <h2 class="routine__heading">{{ routine.name }}</h2>
        <div *ngFor="let exercise of routine.exercises; index as i;" class="exercise__container">
          <div class="exercise__header">
            <div class="exercise__header--content">
              <i
                class="fa-light fa-circle-info exercise__header--name-icon" role="button" tabindex="0"
                (click)="openModal(exercise.id)"
              ></i>
              <h5 class="exercise__header--name"> {{ exercise.exercise.name }}</h5>
            </div>
            <i
              class="fa-regular fa-chevron-down exercise__header--icon"
              [ngClass]="{'rotate' : expand[i]}"
              (click)="handleExpand(i)"
              attr.aria-label="{{expand[i] ? 'Collapse' : 'Expand'}} Exercise"
              tabindex="0"
              (keydown.enter)="handleExpand(i)"
              (keydown.space)="handleExpand(i)"
            ></i>
          </div>
          <div class="exercise__content" [ngClass]="{'expand': expand[i]}">
            <table class="exercise__table">
              <thead>
                <tr class="exercise__table--head">
                  <th class="exercise__table--head-data">Sets</th>
                  <th class="exercise__table--head-data">{{ exercise.quantityUnit == 'rep' ? 'Reps' : 'Duration' }}</th>
                  <th class="exercise__table--head-data">Weight</th>
                </tr>
              </thead>
              <tbody>
                <tr class="exercise__table--body">
                  <td class="exercise__table--body-data">{{ exercise.sets }}</td>
                  <td class="exercise__table--body-data">{{ exercise.quantity }} {{ exercise.quantityUnit }}(s)</td>
                  <td class="exercise__table--body-data">{{ exercise.weight }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <a [routerLink]="['/routines', routine.id, 'edit']" class="btn btn__ghost">Edit Routine</a>
        <button role="button" class="btn btn__fill" (click)="beginWorkout()">Begin Workout</button>
    </div>
    <div *ngIf="showModal && currentExercise" cdkTrapFocus #modalContent="cdkTrapFocus" class="exercise-modal">
      <div class="exercise-modal__container">
        <div class="exercise-modal__title">
          <h2 class="exercise-modal__title--text">Exercise Details</h2>
          <div class="exercise-modal__blur">&nbsp;</div>
        </div>
        <div class="exercise-modal__content">
          <div class="exercise-modal__content--text">
            <div class="exercise-modal__content--group">
              <h5 class="exercise-modal__header">Name</h5>
              <p class="exercise-modal__text">{{ currentExercise.name }}</p>
            </div>
            <div class="exercise-modal__content--group">
              <h5 class="exercise-modal__header">Difficulty</h5>
              <p class="exercise-modal__text">{{ currentExercise.difficulty }}</p>
            </div>
            <div class="exercise-modal__content--group">
              <h5 class="exercise-modal__header">Muscle</h5>
              <p class="exercise-modal__text">{{ currentExercise.muscle }}</p>
            </div>
            <div class="exercise-modal__content--group">
              <h5 class="exercise-modal__header">Instructions</h5>
              <p class="exercise-modal__text">{{ currentExercise.instructions }}</p>
            </div>
            <div class="exercise-modal__content--group">
              <h5 class="exercise-modal__header">Equipment</h5>
              <p class="exercise-modal__text">{{ currentExercise.equipment }}</p>
            </div>
            <div class="exercise-modal__content--group">
              <h5 class="exercise-modal__header">Type</h5>
              <p class="exercise-modal__text">{{ currentExercise.type }}</p>
            </div>
          </div>
        </div>
        <div class="exercise-modal__btn-container">
          <div class="exercise-modal__blur--reverse">&nbsp;</div>
          <button class="exercise-modal__btn" (click)="closeModal()">Close</button>
        </div>

      </div>
    </div>
</section>
