@use "@angular/material" as mat;
@import '../../scss/abstracts/variables';
@import '../../scss//custom-theme.scss';

.routine {
    height: 75vh;
    max-height: 75vh;
    overflow-y: scroll;
    padding-top: $xl;
    padding-bottom: $xl;
    text-transform: uppercase;

    &__container {
        max-height: 75vh;

        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
    }

    &__heading {
        margin-bottom: $xl;

    }

    &__grid {
        display: grid;
        justify-content: center;
        width: 100%;
        grid-template-columns: 1fr;
        letter-spacing: 1px;
        text-indent: 1px;
        row-gap: $mdlg;
        margin-bottom: $xl;
        

        &--main-heading {
            grid-column: span 3;
            // border: 1px solid white;
            font-size: 2.4rem;
            margin-bottom: $smmd;
        }

        &--sub-heading {
            border: 1px solid white;
            padding: $sm;
            // border-top: none;
            font-size: 1.8rem;
        }

        &--text {
            border: 1px solid white;
            padding: $xs;
            border-top: none;
            font-size: 1.8rem;
        }

        &--data {
            width: 100%;
            display: grid;
            justify-content: center;
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

.btn__ghost {
    border: 1px solid mat.get-color-from-palette($iron-track-dark-primary, 'default-contrast');
    color: mat.get-color-from-palette($iron-track-dark-primary, 'default-contrast');
    margin-bottom: $md;
}
.btn__fill {
    background-color: #008000;
    border: 1px solid #008000;
}