@use "@angular/material" as mat;
@import '../../scss/abstracts/variables';
@import '../../scss//custom-theme.scss';

.routine {
  height: 75vh;
  max-height: 75vh;
  overflow-y: scroll;
  padding-top: $xl;
  padding-bottom: $xl;
  text-transform: uppercase;

  &__container {
      max-height: 75vh;

      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
  }

  &__heading {
    letter-spacing: 3px;
    text-indent: 3px;
    font-weight: 200;
    margin-bottom: $xl;

  }
}

.exercise {

  &__container {
    margin-bottom: $md;
    &:last-of-type {
      margin-bottom: $lg;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid mat.get-color-from-palette($iron-track-accent, 'default');
    padding: $sm $md;
  }

  &__table {
    width: 100%;
    border: 1px solid mat.get-color-from-palette($iron-track-accent, 'default');
    border-top: none;
    transform: scaleY(0);
    display: none;

    &--heading {
      padding: $sm 0;
    }
  }
}

.btn__ghost {
    border: 1px solid mat.get-color-from-palette($iron-track-dark-primary, 'default-contrast');
    color: mat.get-color-from-palette($iron-track-dark-primary, 'default-contrast');
    margin-bottom: $md;
}
.btn__fill {
    background-color: #008000;
    border: 1px solid #008000;
}
