
<section class="welcome">
    <div class="welcome__heading">
        <h2 class="welcome__heading--sub">Welcome to</h2>
        <h1 class="welcome__heading--main"><span class="text-accent">I</span>ron <span class="text-accent">T</span>rack</h1>
        
    </div>
    <div>
        <p class="welcome__slogan">An innovate way to track <strong>your</strong> routines</p>
    </div>
    <div class="btn-container">
        <a href="#" class="btn btn-fill">Log In</a>
        <a href="#" class="btn btn-ghost">Sign Up</a>
    </div>
</section>
