
<section class="welcome">
    <div class="welcome__content">
        <div class="welcome__heading">
            <h2 class="welcome__heading--sub">Welcome to</h2>
            <h1 class="welcome__heading--main"><span class="welcome__heading--variant">I</span>ron <span class="welcome__heading--variant">T</span>rack</h1>
        </div>
        <p class="welcome__slogan">An innovate way to <br /> track <strong>your</strong> routines</p>
        <div class="welcome__buttons">
            <a routerLink="/login" class="welcome__btn--fill btn mb-md" aria-label="Go to log in page">Log In</a>
            <a routerLink="/signup" class="welcome__btn--ghost btn" aria-label="Go to sign up page">Sign Up</a>
        </div>
    </div>
</section>
