<section class="signup">
    <h2 class="signup__header">Welcome</h2>
    <p class="signup__text">Fill out the form below <br /> to create an account.</p>
    <form class="form" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div class="form__group">
            <input 
                class="form__input" 
                id="name" 
                type="text" 
                placeholder="Name" 
                formControlName="name" 
                aria-label="Enter your name"
                required
            />
        </div>
        <div class="form__group">
            <input 
                class="form__input" 
                id="email" 
                type="email" 
                placeholder="Email" 
                formControlName="email" 
                aria-label="Enter your email address"
                required
            />
        </div>
        <div class="form__group">
            <input 
                class="form__input" 
                id="password" 
                type="password" 
                placeholder="Password" 
                formControlName="password" 
                aria-label="Create your password"
                required
            />
        </div>
        <div class="form__group">
            <input 
                class="form__input" 
                id="confirmPassword" 
                type="password" 
                placeholder="Confirm Password" 
                formControlName="confirmPassword" 
                aria-label="Confirm your password" 
                required
            />
        </div>
        <button class="form__button">Sign Up</button>
    </form>
    <div *ngIf="submitted && errorMessage" class="error" aria-live="assertive"> 
        <p class="error__message">{{ errorMessage }}</p> 
    </div>
    <p class="signup__redirect">Already have an account? <br /> <a routerLink="/login" aria-label="Navigate to the login page">Log in here</a></p>
</section>
