.signup {
    height: 88vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.signup > * {
    margin-bottom: 1.6rem;
}

.signup__header, .signup__text {
    text-align: center;
}

.signup__redirect {
    font-size: 1.2rem;
    text-align: center;
}