<section class="signup">
    <h2 class="signup__header">Welcome</h2>
    <p class="signup__text">Fill out the form below <br /> to create an account.</p>
    <form class="form">
        <div class="form__group">
            <input class="form__input" type="text" placeholder="Name"/>
        </div>
        <div class="form__group">
            <input class="form__input" type="email" placeholder="Email"/>
        </div>
        <div class="form__group">
            <input class="form__input" type="password" placeholder="Password" />
        </div>
        <div class="form__group">
            <input class="form__input" type="password" placeholder="Confirm Password" />
        </div>
        <button class="form__button">Log In</button>
    </form>
    <p class="signup__redirect">Already have an account? <br /> <a routerLink="/login">Log in here</a></p>
</section>
