<section class="editEmail">
  <p class="emailText">Please enter your updated email</p>
  <form class="editEmailForm" action="index.html" method="post">
    <input class="editEmailInput" type="text" name="email" value="">
    <p class="confirmEmailText">Please confirm your updated email</p>
    <input class="confirmEmailInput" type="text" name="confirmEmail" value="">
    <input class="editEmailSubmit" type="submit" name="submit" value="Submit">
  <button class="emailCancel" (click)="closeOverlay()">Cancel</button>
  </form>
</section>
