<section class="editEmail">
  <p class="emailText">Please enter your updated email</p>
  <form class="editEmailForm" [formGroup]="editEmailForm">
    <input class="editEmailInput" type="text" name="email" formControlName="email" value="">
    <p class="confirmEmailText">Please confirm your updated email</p>
    <input class="confirmEmailInput" type="text" name="confirmEmail">
    <button class="editEmailSubmit" (click)="onSubmit()" name="submit" value="Submit">Submit</button>
  <button class="emailCancel" (click)="closeOverlay()">Cancel</button>
  </form>
</section>
