<div class="profile">
  <h2>Profile</h2>
  <div>
    <label>Name:
      {{user?.name}}
    </label>
    <label>Email:
      {{user?.email
    </label>
    <label>Password:
      <button *ng-if="showPassword" (click)="togglePasswordVisibility()">Click to hide/show</button>
     {{user?.password}}
    </label>
  </div>
  <div> <button (click)="editProfilePassword()">Edit Password</button>
     <button (click)="editProfileUserName()">Edit Email</button>
    <button (click)="logoutOfAccount()">Logout</button>
    <button (click)="deleteProfile()">Delete Account</button>
</div>
</div>
```
