<div class="profile">
  <h2>Profile</h2>
  <div>
    <label>Name:
      {{user?.name}}
    </label>
    <label>Email:
      {{user?.email}}
    </label>
  </div>
  <div>
    <button (click)="editProfileName()">Edit Name</button>
    <button (click)="editProfilePassword()">Edit Password</button>
    <app-edit-user-name *ngIf="overlayService.getOverlayState() | async" ></app-edit-user-name>
     <button (click)="editProfileUserName() ; openEditUserName()">Edit Email</button>
    <button (click)="logoutOfAccount()">Logout</button>
    <button (click)="deleteProfile()">Delete Account</button>
</div>
</div>

