<div class="profile">
  <h2>Profile</h2>
  <div>
    <label>Name:
      {{user?.name}}
    </label>
    <label>Email:
      {{user?.email}}
    </label>
  </div>
  <div>
    <button>="editProfileName">Edit Name</button>
    <app-edit-password *ngIf="overlayServicePass.getOverlayState() | async" ><</app-edit-password>
    <button (click)="openEditPassword()">Edit Password</button>
    <app-edit-user-name *ngIf="overlayService.getOverlayState() | async" ></app-edit-user-name>
    <button (click)="openEditUserName()">Edit Email</button>
    <button (click)="logoutOfAccount()">Logout</button>
    <button (click)="deleteProfile()">Delete Account</button>
</div>
</div>

