/* 
COLOR PALETTES

$bg-palette: (
  50: #e7e7e7,
  100:#e5e5e5,
  200:#cecece,
  300:#b7b7b7,
  400:#a0a0a0,
  500:#6f6f6f,
  600:#575757,
  700:#3e3f3e,
  800:#262726,
  900:#0f100f,

  contrast: (
    50: #0f100f,
    100:#262726,
    200:#3e3f3e,
    300:#575757,
    400:#6f6f6f,
    500:#a0a0a0,
    600:#b7b7b7,
    700:#cecece,
    800:#e5e5e5,
    900:#e7e7e7,
  )
);

$orange-palette: (
  50: #f5cba6,
  100:#f2be90,
  200:#f0b17a,
  300:#eda464,
  400:#eb974e,
  500:#e88a38,
  600:#e67e22,
  700:#cf711e,
  800:#b8641b,
  900:#a15817,
  contrast: (
    50: #5b5b5b,
    100:#727272,
    200:#898989,
    300:#a0a0a0,
    400:#b7b7b7,
    500:#cecece,
    600:#e5e5e5,
    700:#e7e7e7,
    800:#eaeaea,
    900:#ececec,
  )
);
*/

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    line-height: 1.7;
    font-family: 'Roboto Mono', monospace;
    box-sizing: border-box;
    color: #E5E5E5;
    background-image: linear-gradient(rgba(15, 16, 15, 0.7), rgba(15, 16, 15, 0.7)), url('./app/background-mobile.jpg');
    background-position: center center;
    background-repeat: no-repeat no-repeat;
    background-size: cover;
}

h1 {
    font-size: 3.2rem;
}
h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 1.8rem;
}

a, a:link, a:visited {
    color: inherit;
}
 

section {
    padding: 5rem;
}

.text-accent {
    color: #E67E22!important;
}

.border-accent {
    border-color: #E67E22!important;
}

@media only screen and (min-width: 600px) {
    html {
        font-size: 100%;
    }

    body {
        background-image: linear-gradient(rgba(15, 16, 15, 0.7), rgba(15, 16, 15, 0.7)), url('./app/background-tablet-port.jpg');
        background-position: right;
        background-size: cover;
    }

    section {
        padding: 7.5rem;
    }
}

@media only screen and (min-width: 900px) {
    html {
        font-size: 85%;
    }

    body {
        background-image: linear-gradient(rgba(15, 16, 15, 0.95), rgba(15, 16, 15, 0.95)), url('./app/background-tablet-land.jpg');
        background-position: right;
        background-size: cover;
    }

    section {
        padding: 12.5rem;
    }
    
}

@media only screen and (min-width: 1200px) {
    body {
        background-image: linear-gradient(rgba(15, 16, 15, 0.95), rgba(15, 16, 15, 0.95)), url('./app/background-laptop.jpg');
        background-position: right;
        background-size: cover;
    }
    section {
        padding: 5rem 30rem;
    }
    
}
