*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    background-color: #262626;
    color: #E5E5E5;
}

h1 {
    font-size: 2.8rem;
}
h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 1.8rem;
}

a, a:link, a:visited {
    color: inherit;
}
